.buttens{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.pagination{
    display: flex;
    justify-content: end;
}

.page-number-for-body{
    display: flex;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 20px;
    padding: 20px;
    gap: 20px;
}


@media (max-width: 768px){

    page-number-for-body{
        display: flex;
        flex-direction: column;
    }
    
}

