body{
  font-family: "Hind";
  /* margin-left: 30px;
  margin-right: 30px; */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.nav-child-abc{
  display: flex;
  flex-direction: column;
}
.nav-child-menu {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 10px;
  font-family: 'Hind';
  font-weight: 500;
  font-size: 15px;
  gap: 30px;
  color: #45525E;
  width: 70%;

}

/* .buy-rent{
  display: flex;
  border-right: 1px solid #F0F0F0;
} */

.nav-container{
  /* border-bottom: 1px solid #B3B3B3; */
  box-shadow: 0 2px 4px 0px #B3B3B317;
  /* box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);} */
}

.rent{
  width: 5%;
}


.nav-child-m p {
  margin: 0 10px;
}

.nav-child-btn {

  border-radius: 58px;
  background-color: #FEF8E7;
  font-family: 'Hind';
  font-size: 15px;
  font-weight: 600;
  color: #45525E;
  padding: 15px;
}

/* taboption............... */

.tab-options{
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin-top: 35px;
}




 .tab-button-toggle {  
  display: flex;
  /* flex-direction: row; */
  width: 10%;
  cursor: pointer;

}



/* search............input */

input{
  border: none;
}
/* .search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 60%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
} */
 .search-container{
  
  border: 1px solid #f0f0f0;
    border-radius: 8px;
  /* width: 60%; */
    padding: 10px;
}
.before-click-search{
  display: flex;
  justify-content: space-between;
  gap: 426px;
}



.search-icon-and-inputbox{
  display: flex;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 12px;
  /* background: white; */
  
  
}

.search-box.expanded {
  border-color: #f5a189;
}

.search-icon {
  color: #f5a189;
  margin-right: 10px;
}

.search-input {
  border: none;
  /* flex-grow: 1;
  font-size: 16px; */
}

.search-settings {
  color: #f5a189;
  cursor: pointer;
}

.dropdown-content {
 

  /* width: 100%; */
  background: #fff7f4;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  border: 1px solid #f5a48b;
  border-top: none;
  /* text-align: center; */
  /* position: absolute;
  top: 255px;
  left: 210px; */
}

.dropdown-content p {
  /* display: flex;
  align-items: center; */
 
  font-size: 14px;
  padding: 8px 0;
}

.icon {
  color: #f5a189;
  margin-right: 8px;
}


/* pricing................. */



/* .price-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
} */

.pricing-property{
  display: flex;
    justify-content: space-between;
}

.price-filter-container {

  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  gap: 10px;
  border: 1px solid #ddd;
  /* cursor: pointer; */
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  /* width: 15%; */
    /* padding: 20px; */
}

.pricing.active-border {
  border: 1px solid #f5a48b;
  border-radius: 10px 10px 0 0;
}

/* .down-arrow {
  color: #aaa;
  font-size: 14px;
} */

.dropdown-menu {
  background: #fff7f4;
  border-radius: 0 0 10px 10px;
  border: 1px solid #f5a48b;
  border-top: none;
 
}

.price-value {
  font-size: 18px;
  font-weight: bold;
  color: #444;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
  accent-color: #f5a48b;
}

.price-values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}

.price-input {
  /* width: 167px; */
    /* height: 60px; */
  /* width: 100%; */
  /* padding: 18px; */
  border: 1px solid #f5a48b;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  background: #fff;
  color: #777;
  cursor: pointer;
}










  /* new tab option/............................. */




  
 
















/* navigation */


  

  /* nav abc */
  .nav-child-abc {
    padding: 10px;
    line-height: 1px;
  }
  .abc-child{
    font-family: 'Hind';
    font-weight: 700;
    font-size: 18px;
    line-height: 4px;
    color: #192E40;
  }
  .real-estate{
    font-family: 'Hind';
    font-weight: 300;
    font-size: 8px;
    color: #192E40;
  }


  /* nav-manu  */
  
  


.find{
    /* width: 220px; */
    padding: 21px;
    /* height: 58px; */
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    /* justify-content: space-between; */
    /* margin-top: 25PX; */
    background-color: #ff916f
}

.empty-div{
  background-color: #F0F0F0;
  padding: 2px;
  border-radius: 3px
}


/* properties for rent */

.properties{
  margin-left: 23px;
}

.properties-for-rent{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-top: 25px;
    /* width: 99%; */
    gap: 20%;
    margin-left: 2%;
    margin-right: 3%;

}

.property-rent{
    /* height: 55px; */
    font-family: 'Hind';
    font-weight: 700;
    font-size: 25px;
    color: #45525E;
}
.listing{
    font-family: 'Hind';
    font-size: 12px;
    color: #45525E;
}

.map-view{
 
    font-family: 'Hind';
    font-size: 15px;
    /* height: 55px; */
    gap: 8px;
}
.mapp {
    padding: 10px;
    width: 183px;
    /* height: 55px; */
    border: 1px solid#74788D;
    border-radius: 10PX;
    gap: 15PX;

}
.newest{
  padding: 10px;
    width: 183px;
    /* height: 55px; */
    border: 1px solid#74788D;
    border-radius: 10PX;
    gap: 15PX;
    box-shadow:#74788D ;
}

.df-tgbt-flx{
  display: flex !important;
    justify-content: space-between;
    border-radius: 50px;
}






.toggle-btn {
  
  border: none;
  /* background: none; */
  /* padding: 2px; */
  font-size: 16px;
  font-weight: 500;
  color: #333;
  border-radius: 3px;
  transition: 0.3s;
  /* height: 70px; */
}

.toggle-btn.active {
  background-color: #2E96C6; /* Blue background for active */
  color: white;
  padding: 14px;
  width: 50%!important;
  border-radius: 13px!important;
  
  /* width: 100px; */
}

/* .empty{
  background-color:#0d0d0d ;
  border-radius: 3px;
  height: 70%;
  padding: 2px;
} */


















@media (max-width: 768px){

  body{
    width: 100%;
  }
  .nav-container,.rent-and-buy,.toggle-container, .map-view{
    display: none;
  }

  .property-rent{
    font-family: "Hind";
    font-size: 16px;
  }


}



  