
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Figtree&family=Hind+Madurai:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');






/* body{
  font-family: "Hind";
  /* margin-left: 30px;
  margin-right: 30px; */
/* } */

/* .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
} */


/* .nav-child-abc{
  display: flex;
  flex-direction: column;
} */
/* .nav-child-menu {
 
  padding: 10px;
  font-family: 'Hind';
  font-weight: 500;
  font-size: 15px;
  gap: 30px;
  color: #45525E;
  width: 70%;

}



.nav-container{
  box-shadow: 0 2px 4px 0px #B3B3B317;
}

.rent{
  width: 5%;
}


.nav-child-m p {
  margin: 0 10px;
}

.nav-child-btn {

  border-radius: 58px;
  background-color: #FEF8E7;
  font-family: 'Hind';
  font-size: 15px;
  font-weight: 600;
  color: #45525E;
  padding: 15px;
} */

/* taboption............... */

/* .tab-options{
  display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
    margin-top: 35px;
}




 .tab-button-toggle {  
  display: flex;
  width: 10%;
  cursor: pointer;

}
 */


/* search............input */

/* input{
  border: none;
}

 .search-container{
  
  border: 1px solid #f0f0f0;
    border-radius: 8px;
    padding: 10px;
}
.before-click-search{
  display: flex;
  justify-content: space-between;
  gap: 426px;
} */



/* .search-icon-and-inputbox{
  display: flex;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 12px;
  
  
}

.search-box.expanded {
  border-color: #f5a189;
}

.search-icon {
  color: #f5a189;
  margin-right: 10px;
} */

/* .search-input {
  border: none;
  font-size: 16px; */
/* } */

/* .search-settings {
  color: #f5a189;
  cursor: pointer;
}

.dropdown-content {
 

  background: #fff7f4;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  border: 1px solid #f5a48b;
  border-top: none;
  
} */

/* .dropdown-content p {
 
  font-size: 14px;
  padding: 8px 0;
}

.icon {
  color: #f5a189;
  margin-right: 8px;
} */


/* pricing................. */





/* .pricing-property{
  display: flex;
    justify-content: space-between;
} */

/* .price-filter-container {

  display: flex;
  gap: 10px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.pricing.active-border {
  border: 1px solid #f5a48b;
  border-radius: 10px 10px 0 0;
} */



/* .dropdown-menu {
  background: #fff7f4;
  border-radius: 0 0 10px 10px;
  border: 1px solid #f5a48b;
  border-top: none;
 
}

.price-value {
  font-size: 18px;
  font-weight: bold;
  color: #444;
} */

/* input[type="range"] {
  width: 100%;
  margin: 10px 0;
  accent-color: #f5a48b;
}

.price-values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
}

.price-input {
  border: 1px solid #f5a48b;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  background: #fff;
  color: #777;
  cursor: pointer;
} */




/* navigation */


  /* .nav-child-abc {
    padding: 10px;
    line-height: 1px;
  }
  .abc-child{
    font-family: 'Hind';
    font-weight: 700;
    font-size: 18px;
    line-height: 4px;
    color: #192E40;
  }
  .real-estate{
    font-family: 'Hind';
    font-weight: 300;
    font-size: 8px;
    color: #192E40;
  } */


  /* nav-manu  */
  
  


/* .find{
    padding: 21px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #ff916f
}

.empty-div{
  background-color: #F0F0F0;
  padding: 2px;
  border-radius: 3px
} */


/* properties for rent */

/* .properties{
  margin-left: 23px;
}

.properties-for-rent{
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    margin-top: 25px;
    gap: 20%;
    margin-left: 2%;
    margin-right: 3%;

} */

/* .property-rent{
    font-family: 'Hind';
    font-weight: 700;
    font-size: 25px;
    color: #45525E;
}
.listing{
    font-family: 'Hind';
    font-size: 12px;
    color: #45525E;
}

.map-view{
 
    font-family: 'Hind';
    font-size: 15px;
    gap: 8px;
} */
/* .mapp {
    padding: 10px;
    width: 183px;
    border: 1px solid#74788D;
    border-radius: 10PX;
    gap: 15PX;

}
.newest{
  padding: 10px;
    width: 183px;
    border: 1px solid#74788D;
    border-radius: 10PX;
    gap: 15PX;
    box-shadow:#74788D ;
} */

/* .df-tgbt-flx{
  display: flex !important;
    justify-content: space-between;
    border-radius: 50px;
}






.toggle-btn {
  
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  border-radius: 3px;
  transition: 0.3s;
} */

/* .toggle-btn.active {
  background-color: #2E96C6; 
  color: white;
  padding: 14px;
  width: 50%!important;
  border-radius: 13px!important;
  
} */





@media (max-width: 768px){

  /* body{
    width: 100%;
  }
  .nav-container,.rent-and-buy,.toggle-container, .map-view{
    display: none;
  }

  .property-rent{
    font-family: "Hind";
    font-size: 16px;
  } */


}



  