


.luxury-card {
    background: #667e99;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .text-section {
    max-width: 500px;
  }
  .image-section{
    column-gap:10px ;
  }
  
  .text-section ul {
    padding-left: 0;
    list-style: none;
  }
  
  .text-section li {
    font-size: 16px;
    margin: 5px 0;
  }
  .img-three{
    position: relative;
    top: 154px;
  }
  
  .image-section img {
    max-width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .luxury-card {
      flex-direction: column;
      text-align: center;
    }
  
    .text-section {
      max-width: 100%;
    }
    .image-section{
        display: none;
    }
  }
  





@media (max-width: 768px){
    .image-section {
        display: none;
    }

}

