/* .luxuary-apartment{
    /* margin-left: 10%; */
    /* margin-right: 30px; */
    
/* }  */


.apartment{
    display: flex;
    background-color: #7D92A9;
    border-radius: 10px;
    padding: 10px;
}

.text-h{
    font-family: "Hind";
    font-size: 24px;
    font-weight: 800;
    color: #FFFFFF;
}
.text{
    font-family: "Hind";
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
}

.margin-arrange{
    margin: 30px 0px;
}
.design-img{
    display: flex;
}



@media (max-width: 768px){


}

