.property-card-parent{
    /* gap: 10px; */
    /* margin-right: 3%; */
    background-color: #F1F1F3;
    
}


.property-card{
    /* position: relative; */
    /* width: 70%; */
    /* position: absolute; */
    
    /* height: 350px; */
}


.image{
    position: relative;
    /* height: 307px; */
    padding: 5PX;
    /* width: 30%; */
    /* border-radius: 5px; */
    align-items: center;
    
    
    
}

.bg-image{
    /* position: absolute; */
    /* bottom: 8px; */
    /* left: 0;
    width: 200px;
    height: 345px; */
}

.days{
    /* display: flex;
    align-items: center; */
    background-color: rgba(35, 34, 34, 0.44);
    backdrop-filter: blur(10px); /* Applies blur effect */
    color: #ffffff;
    font-family: "Hind";
    font-size: 12px;
    align-items: center;
    /* gap: 10px; */
    padding: 5px;
    height: 25%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}
.verified{
    /* background-color: #FF916E; */
    color: #FFFFFF;
    font-size: 12px;
    gap: 10px;
    padding: 5px;
    height: 25%;

}

.headphone{
    background-color: #FFD86E;
    /* gap: 14px; */
    padding: 15px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
    height: 32%;
}

.image-top-bar{
    position: absolute;
    top: 25px;
    left: 24px;
    gap: 8px;
    justify-content: center;
    padding: 00px;
    
}
.image-top-bar p{
    align-items: center;
    
}

.card-details{
    padding: 10px;
}


/* address details */

.details-address{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    line-height: 5px;
    
    
}

.top-details{
    
    border-bottom: 1px solid #CBCBCB;
}

.title-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 77pxpx;

}


.titile-text{
    font-family: "Hind";
    font-size: 15px;
    color: #45525D;
    
}

.price{
    font-family: "Hind";
    font-size: 30px;
    font-weight: bolder;
    color: #FF916E;
    
}
.aed{
    font-family: "Hind";
    font-size: 18px;
    font-weight: bolder;
    color: #FF916E;
}

.arrow-icont{
    size: 12px;
}

/* location */

.location{
    /* text-align: center; */
    font-family: "Hind";
    font-size: 15px;
    padding: 5px;
}

.location-icon{
    position: relative;
    bottom: 9px;
}


.status{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 10px;

}
.spacing{
    height: 30px;
    padding: 1px;
    border-radius: 2PX;
    background-color: #CBCBCB;
    
    
}


/* buttons */



.whatsapp-btn {
    background-color: #12B28C;
    border-radius: 12px;
    /* padding: 12px 24px; */
    font-size: 12px;
    display: flex;
    align-items: center;
    border: none;
    transition: 0.3s;
  }
  
  .whatsapp-btn:hover {
    background-color:#119878; 
  }
  .whatsapp-btn:active{
    background-color:#17A9ED;
  }
  
  .icon-btn {
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .icon {
    color: #6c757d;
  }
  
  .icon-btn:hover {
    color: #FF916E;
    transform: scale(1.05);
  }
  .icon-btn:active{
    background-color: #FF916E;
  }
  
/* FEATURES */


.main-featues{
    padding: 17px;
    justify-content: space-between;
}
.features{
    line-height: 10px;
}

.check-icont,.headphn, .sqrft-icont{
    position: relative;
    bottom: 10px;
}

.square-ft{
    font-family: "Hind";
    font-size: 17px;
    font-weight: 600;
    color: #12B2AF;

}


/* /property info */
.property-info{
    gap: 5px;
}
.facility{
    background-color: #FFFFFF;
    border-radius: 8PX;
    /* padding: 5PX; */
    width: 150px;
    height: 51px;
    justify-content: center;
    font-size: 14px;
}
.arrow{
    background-color: #FFFFFF;
    border-radius: 8PX;
    padding: 5PX;
    width: 70px;
    height: 40px;
    justify-content: center;
}



/* property card 2 */


.property-card-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}




/* said-bar */

aside{
    width: 30%;
    /* gap: 20px; */
    /* padding-left: 15px; */
    /* margin-left: 15px; */
    float: right;
    /* font-style: italic; */
    background-color: #F1F1F3;
    padding: 20px;
    border-radius: 10px;
}

.right-said-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* line-height: 10px; */

}
/* .filter-body{
    background-color: "none";
}


.completion-head, .filter-head{
    justify-content: space-between;
} */


/* property type */
/* .property-check-box{
    display: flex;
    gap: 10px;
/* } */

.type-head{
    border-bottom: 1px solid #74788D;
    justify-content: space-between;
}



.card-position-arrange{
    position: relative;
    bottom: 191px;
    width: 25%;
}

.martop2p{
    margin-top: 1%;

}



.custom-checkbox-group{
    margin-bottom: 10px;
    /* line-height: 15px; */

    
}




/* Card Styling */
.card {
    border: none;
    border-radius: 10px;
    background: #f8f9fa;
}

/* Custom Checkbox Styling */
.form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #d1d5db;
    transition: all 0.3s;
}

/* Checked State */
.form-check-input:checked {
    background-color: #18a582; /* Green color */
    border-color: #18a582;
}

/* Label Styling */
.form-check-label, .form-check-lable {
    font-size: 16px;
    color: #6c757d;
    margin-left: 10px;
}




/* mobile view............. */
@media (max-width: 768px) {
    .property-card{
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        column-gap: 20px;
        /* object-fit: cover; */
        
       }
       .bg-image{
        width: 100%;
       }
    
       .details-address{
        align-items: start;
        padding: 20px
       }
    
       .property-info,.features{
        padding: 15px;
       }
    
       .square-ft{
        padding: 25px;
       }
       .status{
        border-bottom: 1px solid #B3B3B3;
        box-shadow: 0 4px 2px -2px rgba(98, 97, 97, 0.2);
        /* object-fit: cover; */
        gap: 50px;
       }
    
       .property-info{
        gap: 15px;
       }
    
       .button-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       }
    

}




