/* .property-card-parent{
    
} */


.property-card{
    /* position: relative; */
    /* width: 70%; */
    /* position: absolute; */
    border-radius: 15PX;
    background-color: #F1F1F3;
    justify-content: space-between;

    /* height: 350px; */
}


.image{
    position: relative;
    /* height: 307px; */
    padding: 5PX;
    /* width: 30%; */
    /* border-radius: 5px; */
    align-items: center;
    
    
    
}

.bg-image{
    /* position: absolute; */
    /* bottom: 8px; */
    /* left: 0;
    width: 200px;
    height: 345px; */
}

.days{
    background-color: rgba(35, 34, 34, 0.44);
    backdrop-filter: blur(10px); /* Applies blur effect */
    color: #ffffff;
    font-family: "Hind";
    font-size: 12px;
    gap: 10px;
    padding: 5px;
    
}
.verified{
    background-color: #FF916E;
    color: #FFFFFF;
    font-size: 12px;
    gap: 10px;
    padding: 5px;

}

.headphone{
    background-color: #FFD86E;
    /* gap: 14px; */
    padding: 18px;
}

.image-top-bar{
    position: absolute;
    top: 25px;
    left: 24px;
    gap: 8px;
    justify-content: center;
    padding: 10px;
    /* border-radius: 8px; */
    /* padding: 20px; */
    /* justify-content: space-between; */
    /* right: 12px;
    font-size: 20px; */
    
}
.card-details{
    padding: 10px;
}


/* address details */

.details-address{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    line-height: 5px;
    
    
}

.top-details{
    
    border-bottom: 1px solid #CBCBCB;
}

.title-contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;

}

.titile-text{
    font-family: "Hind";
    font-size: 15px;
    color: #45525D;
    
}

.price{
    font-family: "Hind";
    font-size: 30px;
    font-weight: bolder;
    color: #FF916E;
    
}
.aed{
    font-family: "Hind";
    font-size: 20px;
    font-weight: bolder;
    color: #FF916E;
}

/* location */

.location{
    font-family: "Hind";
    font-size: 15px;
}


.status{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 10px;

}
.spacing{
    height: 30px;
    padding: 1px;
    border-radius: 2PX;
    background-color: #CBCBCB;
    
    
}


/* buttons */

.contact-etails{
    display: flex;
    gap: 5PX;
    
}

.wtsapp{
    background-color: #12B28C;
    border: none;
    border-radius: 8px;
    font-family: "Hind";
    font-size: 12px;
    color: #FFFFFF;
    transition: background-color 0.2s ease-in-out;
    /* width: 123px;
    height: 50px; */
    /* margin-right: 5px; */

}

.wtsapp:hover {
    background-color:#119878; /* Hover */
  }
  
  .wtsapp:active {
    background-color:#17A9ED; /* Click */
  }


.phone-mail{
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
}

/* FEATURES */


.main-featues{
    justify-content: space-between;
}
.features{
    line-height: 2px;
}

.square-ft{
    font-family: "Hind";
    font-size: 17px;
    font-weight: 600;
    color: #12B2AF;

}


/* /property info */
.property-info{
    gap: 5px;
}
.facility{
    background-color: #FFFFFF;
    border-radius: 8PX;
    padding: 5PX;
    width: 150px;
    height: 40px;
    justify-content: center;
    font-size: 14px;
}
.arrow{
    background-color: #FFFFFF;
    border-radius: 8PX;
    padding: 5PX;
    width: 70px;
    height: 40px;
    justify-content: center;
}



/* property card 2 */


.property-card-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}




/* said-bar */

aside{
    width: 30%;
    /* gap: 20px; */
    /* padding-left: 15px; */
    /* margin-left: 15px; */
    float: right;
    /* font-style: italic; */
    background-color: #F1F1F3;
    padding: 20px;
    border-radius: 10px;
}

/* .filter-body{
    background-color: "none";
}


.completion-head, .filter-head{
    justify-content: space-between;
} */


/* property type */
/* .property-check-box{
    display: flex;
    gap: 10px;
/* } */

.type-head{
    border-bottom: 1px solid #74788D;
    justify-content: space-between;
}



.card-position-arrange{
    position: relative;
    bottom: 298px;
}

.martop2p{
    margin-top: 1%;

}



.custom-checkbox-group{
    margin-bottom: 10px;
    
}




/* Card Styling */
.card {
    border: none;
    border-radius: 10px;
    background: #f8f9fa;
}

/* Custom Checkbox Styling */
.form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #d1d5db;
    transition: all 0.3s;
}

/* Checked State */
.form-check-input:checked {
    background-color: #18a582; /* Green color */
    border-color: #18a582;
}

/* Label Styling */
.form-check-label, .form-check-lable {
    font-size: 16px;
    color: #6c757d;
    margin-left: 10px;
}




/* mobile view............. */
@media (max-width: 768px) {
    .property-info{
        font-family: "Hind";
        font-size: 12px;
    }
    .card-in-mobile-view{
        gap: 10PX;
    }
    .card-in-mobile-view{
        border-radius: 15PX;
        background-color: #F1F1F3;
    }

    .property-card-mobile{
        position: relative;
    }
    .image-top-bar{
        position: absolute;
    }


}




