.properties-for-rent{
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      margin-top: 25px;
      /* width: 99%; */
      gap: 20%;
      margin-left: 3%;
      margin-right: 5%;
  
  }

  .properties{
    margin-left: 23px;
  }

  .property-rent{
    /* height: 55px; */
    font-family: 'Hind';
    font-weight: 700;
    font-size: 25px;
    color: #45525E;
}
.listing{
    font-family: 'Hind';
    font-size: 12px;
    color: #45525E;
}

.map-view{
 
    font-family: 'Hind';
    font-size: 15px;
    /* height: 55px; */
    gap: 10px;
}
.mapp {
    padding: 10px;
    /* width: 100%; */
    gap: 15PX;
    border-radius: 10px;

}



@media (max-width: 768px){

    
  .properties-for-rent {
    display: none;
  }
  
  }
  
