.warning-banner {
    display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
     gap: 5px;
     /* height: 62px; */
     /* background-color: #F4835F; */
 }
 
 .warning-text{
   /* font-family: "Hind"; */
   font-size: 12px;
   /* font-weight: 400; */
   /* line-height: 26.5px; */
   /* color: #FFFFFF; */
 }
 
 .learn-more-btn{
   padding: 10PX;
   border-radius: 35px;
   /* width: 72px;
   height: 25px; */
   font-size: 9px;
   /* line-height: 26.5px; */
   border: none;
   
 }

 @media (max-width: 600px){

    .warning-banner{
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    /* .nav,.buy-or-rent{
      display: none;
    } */
    
  }