.warning-banner-bgclr{
  background-color: #F4835F;
}


.max-width{
  margin-left: 5%;
  margin-right: 5%;
}
.warning-banner-bgclr {
  background-color: #F4835F; /* Matching banner color */
  width: 100%;
  /* border-radius: 8px; */
  text-align: center;
}

/* Mobile View: Center Content & Adjust Padding */
@media (max-width: 767px) {
  .warning-banner-bgclr {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  
}
