.max-width{
    margin-left: 4%;
    margin-right: 4%;
}
.fnt-fmly{
    font-family: "Hind";
    font-size: 20px;
    font-weight: 800;
}
.flex{
    display: flex;
}

.fnt-siz{
    font-size: 15px;
    color: #45525E;
}