/* bg-img.......... */
.toarrangethebody{
    display: flex;

}

.property-body{
    display: flex;
    justify-content: space-between;


}
.image{
    /* padding: 5PX; */
    width: 40%;
    height: 100%;
    object-fit: cover; 
    
}
.img-top-bar {
    position: absolute;
    top: 4%;
    left: 3%;
    gap: 2px;
    width: 100vh;

}
.days{
    display: flex;
    align-items: center;
    background-color: rgba(35, 34, 34, 0.44);
    backdrop-filter: blur(10px); 
    color: #ffffff;
    font-family: "Hind";
    font-size: 12px;
    gap: 5px;
    padding: 14px;
    height: 3%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 23%;
    
}
.headphone{
    background-color: #FFD86E;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
    /* height: 1%; */
    width: 5%;
    
}

.verified{
    background-color: #FF916E;
    color: #FFFFFF;
    font-size: 12px;
    gap: 5px;
    padding: 13px;
    height: 3%;
    width: 23%;
}



/* card details............ */

.card-details{

    padding: 10px;
}

.details-address{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    /* line-height: 5px; */
    /* padding: 20px */
    
}
.details-address{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 77pxpx; */

}
.titile-text{
    font-family: "Hind";
    font-size: 17px;
    /* padding: 11px; */
    color: #45525D;
    font-weight: bold;
    padding-top: 10px;
    
}

.price{
    font-family: "Hind";
    font-size: 30px;
    font-weight: bolder;
    color: #FF916E;
    
}
.aed{
    font-family: "Hind";
    font-size: 18px;
    font-weight: bolder;
    color: #FF916E;
}
.title-contact{
    display: flex;
    gap: 6%;
}
.location{
    /* text-align: center; */
    font-family: "Hind";
    font-size: 15px;
    /* padding: 5px; */
    color: #192E40;
}
.location-icon{
    size: 10px;
}

.status{
    paddings: 1px;
   
   }
.spacing{
    height: 24px;
    margin-top: 2%;
    padding: 1px;
    border-radius: 2PX;
    background-color: #CBCBCB;
    
    
}
.place{
    font-family: "Hind";
    font-size: 15px;
    color: #192E40;
}
.for{
    padding: 10px;
}
.main-featues{
    padding: 17px;
    justify-content: space-between;
}
.features{
    line-height: 10px;
}
.features-ready-to-move{
    gap: 5%;
}
.future-text{
    font-family: "Hind";
    font-size: 15px;
    color: #192E40;
}
/* watsapbutton.................... */

.button-container {
   
    gap: 5px;
    /* padding: 20px; */
    border-radius: 10px;
  }
  
  .whatsapp-btn {
    display: flex;
    align-items: center;
    gap: 2px;
    /* padding: 12px 20px; */
    border: none;
    border-radius: 5px;
    background: #12B28C;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
    height: 50px;
  }
  
  .whatsapp-btn:hover {
    background: #119878;
  }
  
  .whatsapp-btn.pressed {
    background: #17A9ED;
  }
  .icon-box-card{
    background-color: #ffffff;
    
  }
  
  .contact-icons {
    display: flex;
    gap: 5px;
  }
  
  .icon-box-card {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  
  .icon-box-card.pressed {
    background: #FF916E;
  }
  .icon-box-card.whatsapp-btn:hover{
    border: 2px solid #FF916E;

  }
  
  /* .icon {
    font-size: 24px;
    color: #333;
  } */
  .whatsapp-text{
    padding: 1%;
  }
  .headphn{
    padding: 1%;
  }

  .main-featues{
    padding: 17px;
    justify-content: space-between;
}
.features{
    line-height: 10px;
    padding: 15px;
}

/* .check-icont,.headphn, .sqrft-icont{
    position: relative;
    bottom: 10px; */
/* } */
.sqrft{
    border-top: 1px solid #CBCBCB;
    padding-top: 15px;

}

.green-text{
    font-family: "Hind";
    font-size: 17px;
    font-weight: 600;
    color: #12B2AF;

}

.property-info{
    gap: 15px;
    padding: 15px;
}
.properties-facility-available{
    width: 80vh;
}
.facility{
    background-color: #FFFFFF;
    border-radius: 8PX;
    width: 25%;
    height: 52px;
    font-family: "Hind";
    font-size: 14px;
    color: #45525E;
}

.parking{
    background-color: #FFFFFF;
    border-radius: 8PX;
    width: 32%;
    height: 52px;
    font-family: "Hind";
    font-size: 14px;
    color: #45525E;
}
.arrow{
    background-color: #FFFFFF;
    border-radius: 8PX;
    padding: 5PX;
    width: 70px;
    height: 40px;
    justify-content: center;
}

.text-clr{
    font-family: "Hind";
    font-size: 12px;
    color: #45525E;
}
.txt-xlr{
    font-size: 15px;
    color: #45525E;
}
.sqrft{
    display: flex;
    /* justify-content: space-between; */
    gap: 28%;
}
.forspace{
    display: flex;
    gap: 10px;
}



/* said bar */

.rigt-said-bar{
    width: 23%;
    float: right;
    background-color: #F1F1F3;
    padding: 20px;
    border-radius: 10px;
}

.right-said-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    /* line-height: 10px; */

}

.type-head{
    border-bottom: 1px solid #74788D;
    justify-content: space-between;
}

.martop2p{
    margin-top: 1%;

}



.custom-checkbox-group{
    margin-bottom: 10px;
    /* line-height: 15px; */

    
}




/* Card Styling */
.card {
    border: none;
    border-radius: 10px;
    background: #f8f9fa;
}

/* Custom Checkbox Styling */
.form-check-input {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #d1d5db;
    transition: all 0.3s;
}



/* Label Styling */
.form-check-label, .form-check-lable {
    font-size: 16px;
    color: #6c757d;
    margin-left: 10px;
}

.crdsecond{
    margin-top: 2%;
}




.rigt-said{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 27%;
    height: 50%;
    background-color: #E5FBFF;
    
}


.support-map{
    display: flex;
    justify-content: center;
    font-family: "Hind";
    font-size: 18px;
    color: #2E96C6;
}
.para-map{
    font-family: "Hind";
    font-size: 16px;
}

/* button */
.content-btn{
    border: none;
    background-color: #2E96C6;
    /* width: 30%; */
    padding: 20PX;
    align-items: center;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;

}





/* rdioactive color */

.custom-radio-group .form-check-input:checked {
    background-color: #F4835F !important;
    border-color: #F4835F !important;
  }
/* check-active color */

.custom-check-group .form-check-input:checked {
    background-color: #12B28C !important;
    border-color: #12B28C !important;
  }





@media only screen and (min-width: 768px) {
    .text-info{
        padding: 10px;

    }
    .toarrangethebody{
        display: none;
    }
    
  }
  



