/* body{
    margin-left: 4%;
    margin-right: 4%;
} */

.active{
    background-color: #2E96C6;
    color: #FFFFFF;
}
.df-tgbt-flx{
    display: flex !important;
      justify-content: space-between;
      border-radius: 50px;
  }

 
  /* .w-a-c{
    width: 12%
  } */

  /* .price-wd-ad{
    width: 17%;
  } */
  .bttn{
    /* width: 12%; */
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;;
  }
.mrgn{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    gap: 15px;
}
  


@media screen and (max-width: 768px) {
  .rwa-djst{
    gap: 27px;
    
  }
}



  /* search */
  