/* body{
    margin-left: 4%;
    margin-right: 4%;
} */

.active{
    background-color: #2E96C6;
    color: #FFFFFF;
}
.df-tgbt-flx{
    display: flex !important;
      justify-content: space-between;
      border-radius: 50px;
  }

 
  /* to remove input border on click */
  .input-no-focus {
    outline: none !important; /* Removes blue outline */
    box-shadow: none !important; /* Removes any shadow on focus */
  }
  
  .bttn{
    /* width: 12%; */
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;;
  }
.mrgn{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    margin-left: 5%;
    gap: 15px;
}
  


@media screen and (max-width: 768px) {
  .rwa-djst{
    gap: 27px;
    
  }
}



  /* search */
  