

/* banner */


.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    /* background: white; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.popular-searches {
    flex: 2;
}

.search-content {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

.locations {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-box {
    background: #ffe6cc;
    padding: 10px;
    border-radius: 10px;
}

.flat-list {
    list-style-type: none;
    padding: 0;
}

.buyers-guide {
    flex: 1;
    background: #ff6b3d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.guide-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    background: #EFEFEF;
    color: #45525e;
    padding: 10px;
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: 15%;
    border: none;
    /* border: 20px;50px */
    /* cursor: pointer; */
}


.btn-img-footer{
    position: absolute;
    right: 43%;
    background-color: #DFDFDF;
    padding: 18PX;
    border-radius: 50PX;
    

}



.popular-searches{
    padding: 50px;
    border: 1px solid #CBCEDE;
    border-radius: 10px;
}

.footer-container{
    display: flex;
    gap: 10px;
}



/* footer */


.footer {
    background: #F8F8F8;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    /* border-bottom: 1Ppx solid #9c5e5e; */
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-links-section{
    justify-content: center;
}

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
    /* cursor: pointer; */
}

.chat-button {
    background: #38CA89;
    width: 45%;
    color: white;
    padding: 18px;
    border: none;
    /* border: none; */
    /* cursor: pointer; */
    border-radius: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
}

.footer-links {
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.country-selector {
    margin: 15px 0;
    align-items: center;
    justify-content: center;
}

.country-links span {
    margin: 0 10px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}
.list-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
}

@media (max-width: 600px){
    .list-container,.footer-container,.popular-searches,.search-content {
        display: flex;
        flex-direction: column;
    }
}






