


.nav-child-abc p{
    line-height: 15px;
  }

.nav-container{
    box-shadow: 0 2px 4px 0px #B3B3B317;
    
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
}
.nav-child-abc{
    display: flex;
    flex-direction: column;
    padding: 10px;
    column-gap: 1px;
}
.abc-child{
    font-family: 'Hind';
    font-weight: 700;
    font-size: 18px;
    line-height: 4px;
    color: #192E40;
}

.real-estate{
    font-family: 'Hind';
    font-weight: 300;
    font-size: 8px;
    color: #192E40;
}
.nav-child-menu {
    display: flex;
    padding: 10px;
    font-family: 'Hind';
    font-weight: 500;
    font-size: 15px;
    gap: 30px;
    color: #45525E;
    width: 70%;

}
.nav-child-btn {
    border: none;
    border-radius: 58px;
    background-color: #FEF8E7;
    font-family: 'Hind';
    font-size: 15px;
    font-weight: 600;
    color: #45525E;
    padding: 15px;
  }

  








  .link-hover {
    text-decoration: none;
    padding: 10px;
    font-family: 'Hind';
    font-weight: 500;
    font-size: 15px;
    gap: 30px;    transition: color 0.3s ease, text-decoration 0.3s ease;
  }
  
  .link-hover:hover {
    color: #F4835F;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  
  .active-rent{
    color: #F4835F;
  }
  